In [1]:

import numpy as np
import pandas as pd 
from collections import defaultdict
from pprint import pprint
import keras
from keras.utils import np_utils
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras.layers import LSTM
from keras.layers import Merge
from keras.layers import Convolution1D
from keras.layers import Reshape
from keras.layers import Flatten
seed = 0
np.random.seed(seed)

import time
import operator

Using TensorFlow backend.

In [2]:
df = pd.read_csv('all_clean_new.csv')

In [3]:
df = df.drop('transactionDate', axis=1)

In [4]:
df_train = df[:467468]
df_test = df[467468:]

In [5]:
df_test = df_test.drop('target', axis=1)

In [6]:
def filter_data(df):
    df = df[df['State'] != 'no_state']
    df = df[df['Gender'] != 'no_gender']

In [7]:
filter_data(df_train)
filter_data(df_test)

In [8]:
dummy_col = ['Gender', 'State']
dummy_col_select = ['Gender', 'State']

In [9]:
limit = int(0.05 * len(df_train.index))
use_dummy_col = {}

for col in dummy_col_select:
    trainlist = df_train[col].value_counts()
    use_dummy_col[col] = []
    for i,item in enumerate(trainlist):
        if item > limit:
            use_dummy_col[col].append(df_train[col].value_counts().index[i])

In [10]:
def get_dummy(df):
    for col in dummy_col_select:
        for item in df[col].unique(): 
            if item not in use_dummy_col[col]:
                row_index = df[col] == item
                df.loc[row_index,col] = np.nan
    return pd.get_dummies(df, prefix=dummy_col, columns = dummy_col)

In [11]:
df_train = get_dummy(df_train)
df_test = get_dummy(df_test)

C:\Anaconda3\envs\aind-dog-copy\lib\site-packages\pandas\core\indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [12]:
df_train.head()

,customerID,target,108000707,108005676,108037568,108100290,108100294,108100306,108100308,108100352,...,300785148,300785150,300840018,Gender_female,Gender_male,Gender_no_gender,State_MADHYA PRADESH,State_PUNJAB,State_TAMIL NADU,State_no_state
0,BBID_2041,5,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,1
1,BBID_2044,18,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,1
2,BBID_2044,18,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,1
3,BBID_2044,18,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,1
4,BBID_2044,17,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,1

In [27]:
df_train.shape

(467468, 29)

In [34]:
col1 = df_train.loc[:,'108000707':'300840018']
col2 = list(df_train.loc[:,'Gender_female':'State_no_state'])

x_train1 = df_train[col1].as_matrix()
x_test1 = df_test[col1].as_matrix()

x_train1 = np.reshape(x_train1, (len(x_train1), 5, 20))
x_test1 = np.reshape(x_test1, (len(x_test1), 5, 20))

x_train2 = df_train[col2].as_matrix()
x_test2 = df_test[col2].as_matrix()

y_train = pd.get_dummies(df_train['target'].astype(int)).as_matrix()

ValueError: Must pass DataFrame with boolean values only